<form action="/create" method="POST">

<h2><em>Заказчик</em></h2>
<div class="input-field">
    <input type="text" name="title">
    <label>Введите ФИО заказчика</label>

</div>
<button type="submit" class="btn"> Добавить</button>
</form>